
$baseColor : blue;
$importantColor : darken($baseColor,20);
$warningColor : lighten($baseColor, 20);

$fontPrimary :  Helvetica;
$fontSecondary : Verdana;


@mixin Bordes (){
    border: 2px solid grey;
    border-radius: 16px;
}

@mixin sombra(){
    box-shadow:-15px 10px 7px $baseColor;

}