@import "red_theme.scss";
@import "blue_theme.scss";

@mixin resetDivs() {
    margin : 0;
    padding: 0;
    border: 0;
    line-height: 3vh;  
}

@mixin sizeSectionsColors(){
    width: 35%;
    height: 100%;
    margin : 1.2% 0 0 10%;
    line-height: 15vh;
    text-align: center; 
}

@mixin sizeToFonts(){
    margin-top: 1%;
    margin-left: 10%;
}

body{
    font-family: sans-serif;  
    display: flex;
    min-height: 100%;
    flex-direction: row;   
    border: 0; 
    justify-content: flex-start;
}

div{
    width: 33%;
    height: 15vh;
    margin : 0.2% 0 0 10%;
    line-height: 15vh;
    text-align: center;
   
}

.seccRed{
     @include sizeSectionsColors();
    div{
        @include Bordes(); 
    }
    .fonts{
        @include resetDivs();
        @include sizeToFonts();
    }
}

.seccBlue{
    @include sizeSectionsColors();
    div{
        @include Bordes2();
    }  
    .fonts2{
    @include resetDivs();
    @include sizeToFonts();
}
}

.select_theme{
    position:fixed;
    width: 50px;
    height: 100px; 
    top: 20%;

    div{
        width: 25px;
        height: 25px;
        border: 1 solid black;               
    }
}

.theme_red{
    background-color: red;
}
.theme_blue{
    background-color: blue;
}