
$baseColor : red;
$importantColor : darken($baseColor,20);
$warningColor : lighten($baseColor, 20);

$fontPrimary : sans-serif;
$fontSecondary : Courier New;


@mixin Bordes (){
    border: 2px solid grey;
    border-radius: 0px;   
}

@mixin sombra(){
    box-shadow:-15px 16px 7px $baseColor;

}



.base{
    background-color: $baseColor;
}

.important{
    background-color: $importantColor;
}

.warning{
    background-color: $warningColor;
}

.boxWithShadow{
    @include sombra(); 
}

.principal{
    font-family: $fontPrimary;
}

.secondary{
    font-family: $fontSecondary;
}

