@mixin base-grid-definition{
    display: grid;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

@mixin full-resolution{
    @include base-grid-definition();

    grid-template-areas: 
        "header regular regular"
        "header regular regular"
        "header articles articles";
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1vh 30vh 30vh;;
}

@mixin medium-resolution {
    @include base-grid-definition();
    grid-template-areas:
        "header header header"
        "articles articles info"
        "regular regular regular"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 40vh 40vh 10vh;
 }

 @mixin small-resolution {
    .main-content{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
        .main-content-item{
            flex-grow: 1;
        }
    }
 }
