@mixin base-grid-definition{
    display: grid;
    row-gap: 0.1rem;
    column-gap: 0.1rem;
}

@mixin extra-large{
    .header.main-content-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @include base-grid-definition();

    grid-template-areas: 
        "header contentA contentA"
        "header contentA contentA"
        "header contentB contentB";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1vh 30vh 30vh;;
}

@mixin large{
    .header.main-content-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contentA.main-content-item{
        background-color: red;
    }
    @include base-grid-definition();

    grid-template-areas: 
        "header contentA contentA"
        "header contentA contentA"
        "header contentB contentB";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1vh 30vh 30vh;;
}

@mixin medium {
    @include base-grid-definition();
    grid-template-areas:
        "header header header"
        "contentB contentB contentB"
        "contentA contentA contentA";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 40vh 40vh;
 }

 @mixin small {
    .main-content{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
        .main-content-item{
            flex-grow: 1;
        }
    }
 }
