@import "init.scss";
@import "layout.scss";

body{
    font-family: sans-serif;
    display: grid;
    flex-direction: column;
    min-height: 100vh;
}

.main-display{
    flex-grow: 1;
}

.main-content-item{
    display: flex;
}

.header{
    grid-area: header;
    background-color: pink;
    list-style: none;
}

.articles{
    grid-area: articles;
    background-color: green;
}

.info{
    grid-area: info;
    background-color: cyan;
}

.footer{
    grid-area: footer;
    background-color: yellow;
}

.regular{
    grid-area: regular;
    background-color: blue;
}

@media screen and (min-width: 75rem){
    .main-content{
        @include full-resolution();
    }
}

@media screen and (max-width: 74.9rem) and (min-width: 48rem){
    .main-content{
        @include medium-resolution();
    }
}

@media screen and (max-width: 47.9rem){
        @include small-resolution();
}
