@import "init.scss";
@import "layout.scss";

body{
    font-family: sans-serif;
    display: grid;
    flex-direction: column;
    min-height: 100vh;
}

.main-display{
    flex-grow: 1;
}

.main-content-item{
    display: flex;
}

.header{
    grid-area: header;
    background-color: pink;
    list-style: none;
}

.contentB{
    grid-area: contentB;
    background-color: green;
}


.contentA{
    grid-area: contentA;
    background-color: blue;
}

@media screen and (min-width: 77rem){
    .main-display{
        margin: 0% 5% 0% 5%;
    }
    .main-content{
        @include extra-large();
    }
}

@media screen and (min-width: 65rem) and (max-width: 76.9rem){
    .main-content{
        @include large();
    }
}

@media screen and (max-width: 64.9rem) and (min-width: 48rem){
    .main-content{
        @include medium();
    }
}

@media screen and (max-width: 47.9rem){
        @include small();
}
