
$baseColor : red;
$colorHover: purple;


@mixin setDarkenColor ($numerOfDark:0){
    background-color: darken($baseColor,$numerOfDark);
}

@mixin setLightenColor ($numerOfLight:0){
    background-color: lighten($baseColor, $numerOfLight);
}

@function changeColor() {
        $baseColor : purple;
     @return $baseColor;
 }

 @mixin changeColorToDark($numDark){
    background-color: darken(purple,$numDark);
 }