
$baseColor : red;
$hoverColor : purple;


@mixin setDarkenColor ($numerOfDark:0){
    background-color: darken($baseColor,$numerOfDark);
}

@mixin setLightenColor ($numerOfLight:0){
    background-color: lighten($baseColor, $numerOfLight);
}

@function changeColor() {
        
     @return $hoverColor;
 }


 @mixin changeColorToDark($numDark){
    background-color: darken($hoverColor,$numDark);
 }

 @mixin changeColorToLight($numLight){
    background-color: lighten($hoverColor,$numLight);
 }