@import "colors.scss";
@import "colors2.scss";
@import "colors3.scss";

body{
    font-family: sans-serif;  
    display: flex;
    min-height: 100%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap
}
div{
    width: 9%;
    height: 12%;
    margin : 10px;
    line-height: 15vh;
    text-align: center;  
}