@import "resolutions.scss";

body{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 20%;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.top_header{
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 70.9rem){
  @include medium-resolution();
}

@media screen and (max-width: 43.9rem){
   @include small-resolution();
}

.menu_nav{
   background-color: aqua;
  }

  .menu{
    display: flex;
    list-style:none;
    justify-content: flex-start;

    li{
      flex: 1;
      text-decoration: none;
      margin: 0.5%;
      a:link{
        text-decoration:none;
        }
    }
  }
   
  

  .nav_top{
    list-style: none;
  }