@import "resolutions.scss";

body{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 20%;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  nav{
    display: flex;
  }
}

.top_header{
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 43.9rem){
   @include small-resolution();
}

.menu_nav{
   background-color: lightslategray;
   flex-direction: column;

    ul.menu{
    display: flex;
    list-style:none;
    justify-content: center;
    
    li{
      flex: 1;
      text-decoration: none;
      margin: 0.5%;
      border-right: 1px solid #7C7C7C;
      a:link{
        text-decoration:none;
        }
        &:hover {
          background-color: #7C7C7C;
          margin-top:-2px;

        }
      }
    }
  }

  .nav_top{
    list-style: none;
  }