
  @mixin small-resolution {
      body{    
        justify-content: space-between;   
            .menu_nav{
                align-items:center; 
                font-size: 9px;
                order: 2;
                height: 100%;
                position: relative;
                ul{
                    .menu{
                    display: flex;
                    flex-direction: row;           
                    }
                }
      }
      }
  }